@font-face {
    font-family: "FSalbert";
    src: url("/fonts/FSalbert/FSalbert-Regular.b04bcf38.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "FSalbert-Bold";
    src: url("/fonts/FSalbert/FSAlbert-Bold.otf");
    font-style: bold;
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Brandon Grotesque";
    src: url("/fonts/BrandonGrotesque/brandon-grotesque-black.ttf");
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
}

body {
    font-family: 'FSalbert' !important;
}

p {
    color: '#7E91A0';
}

