html,
body {
  padding: 0;
  margin: 0;
  /* overflow-x: auto; */
}

/* .jumbotronProduct {
  background-image: url('/static/images/image/section/product/alurPembiayaan.png');
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}
.jumbotronProductPP {
  background-image: url('/static/images/image/section/product/prosesPengajuan.png');
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}
.jumbotronProductDS {
  background-image: url('/static/images/image/section/product/prosesPengajuanDS.png');
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}
.jumbotronProductPengajuan {
  background-image: url('/static/images/image/section/product/proses-pengajuan.png');
  background-size: 100% 100%;
  width: 100%;
  height: auto;
}
.jumbotronProductPartner {
  background-image: url('/static/images/image/section/product/partner.png');
  background-size: 100% 100%;
  width: 100%;
  height: auto;
} */
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.oval-button{
  border-radius: 1.25rem !important;
  color: #EEAF30 !important;
  min-width: 150px;
}

/* .svg-inline--fa{
  color: #EEAF30 !important;
}


.svg-inline--fa:hover{
  color: #002F5F !important;
} */
.fsAlbert {
  font-family: 'FSalbert-Bold'
}
.f-icon{
  color: #EEAF30 !important;
  width: 30px !important;
  height: 30px !important;
}

.f-icon:hover{
  color: #002F5F !important;
  width: 30px !important;
  height: 30px !important;
}

.login{
  padding: 3rem !important;
}

.section-container{
  margin-top: 50px;
  margin-bottom: 50px;
}
.test-truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.test-readMore{
  width: auto;
}
.block-card {
	margin: 20px 0px 35px 0px; 
	/* padding: 0 0 15px 0px;  */
	border-radius: 25px !important; 
	overflow: hidden;
	background: #fff;
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2)
}

.block-card:hover {
	-webkit-transform: translate(0, -8px);
	-moz-transform: translate(0, -8px);
	-ms-transform: translate(0, -8px);
	-o-transform: translate(0, -8px);
	transform: translate(0, -8px);
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
	border-radius: 15px !important;
}
.investor-card {
  background-color:rgba(0, 47, 95, 0.25) !important;
  color: #002F5F;
  text-align: center;
  height: 65px;
  align-items: center;
  display: grid;
  width: 100% !important;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.test-masonry-container{
  column-count: 2 !important;
}
.test-masonry-item{
  display: inline;
}

.investorBlock-card{
    margin: 30px 10px; 
    border-radius: 25px !important; 
    overflow: hidden;
    background: #fff;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2)
}
.card-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.mb25{
  margin-bottom: 30px;
}

.simul-card{
  width: 25rem;
  height: 35rem;
  border-radius: 15px !important;
	background: #fff;
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2)
}

.simul-card-mp{
  width: 25rem;
  height: 38rem;
  border-radius: 15px !important;
	background: #fff;
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2)
}

.borderb-y {
  border-bottom: 3px solid #002F5F;
  width: 30%;
}

#company-profile{
  background-color:#EEF2F5;
  padding: 50px 0;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-seablue {
  background-color: #3576BB !important;

}

.bg-blue-baf{
  background-color: #002F5F !important;
}

.bg-yellow{
  background-color: #EEAF30 !important;
}

.bg-white{
  background-color: #fff !important;
}


.txt-blue-baf{
  color: #002F5F !important;
  font-weight: bold;
}

.txt-black-baf{
  color: #000 !important;
  font-weight: 150;
}


.txt-yellow{
  color: #EEAF30 !important;
  font-weight: bold;
}

.txt-white{
  color: #fff !important;
  font-weight: bold;
}

.txt-black{
  color: #000 !important;
  font-weight: bold;
}

.txt-email::placeholder {
  color: #fff !important;
  opacity: 1;
}

.txt-tagline{
  color: #002F5F !important;
  font-weight: 900 !important;
  font-size:55px;
  font-family: "Brandon Grotesque" !important;
}
.txt-detailTitle {
  font-family: "Brandon Grotesque" !important;
}
.txt-boards-name {
  color: #002F5F !important;
  font-size: 25px !important;
  font-weight: 900 !important;
}
.txt-boards-title {
  color: #002F5F !important;
  font-style: italic;
  font-size: 18px;
}
.txt-boards-desc {
  color: #002F5F !important;
}
.boards-card{
  flex-direction: row !important;
}
.halfWidth {
  width: 50% !important;
}

.txt-jumbotron{
  color: #fff !important;
  font-weight: 900 !important;
  font-size:45px;
}

.section-title{
  color: #EEAF30 !important;
  font-weight: 900 !important;
  font-size:45px;
  font-family: "Brandon Grotesque" !important;
}

.bg-yellow-gradient{
  background: linear-gradient(67.69deg, #EEAE30 28.8%, #F0B733 53.37%, #EEB631 68.3%, rgba(243, 180, 45, 0.47095) 100.07%, rgba(248, 178, 41, 0) 104.48%) !important;
}

.bg-blue-gradient{
  background: linear-gradient(67.69deg, #002E5F 28.8%, #002F5F 53.37%, #012F5F 73.39%, #043B73 81.95%, #0E61B8 102.99%) !important;
}

.nav-icon{
  margin-left: 40px;
  width: 100px;
  height: 50px;
}

.n-width{
  width: 70%;
  font-size: 18px;
}

.left-footer{
  width: 100%;
  height: auto;
  background-image: url('/static/images/image/bg-footer.svg');
  background-size: 100% 100%;
  background-color: 'red';
}

.right-footer{
  /* width: 100%;
  height: auto; */
  background-image: url('/static/images/image/footer-batik.svg');
  /* background-size: 100% 100%; */
  background-position: bottom;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  
}

.btn-yuk-nonton{
  background-image: url('/static/images/image/yellow-btn.svg');
  background-size: 100% 100%;
  padding: 40px;
  color: #002F5F !important;
  font-weight: bolder;
  text-decoration: none !important;

}

.react-multiple-carousel__arrow { right: 0 !important; }

.carousel-button-group { position: absolute;}

.arrow-container{
  margin-top: -250px;
  width:98%;
  
}

.container-ca {
  /* padding-right: 15px;
  padding-left: 15px; */
  margin-right: auto;
  margin-left: auto;
}

.tag-yellow{
  padding: 5px 10px 5px 8px;
  background-color:#EEAF30;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: normal;
  color: #fff;
}

.tag-blue{
  padding: 5px 10px 5px 8px;
  background-color:#002F5F;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: normal;
  color: #fff;
}
.btn:focus, .btn:active:focus, .btn.active:focus { outline: none !important; outline-style: none !important; box-shadow: none !important; } 

.radius-1{
  border-radius: 1rem !important;
}

.radius-2{
  border-radius: 2rem !important;

}

.txt-error{
  color : #fa1e0e;
  margin-left: 6px;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.news-card{
  width: 18rem;
}
.articles-container{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem !important;
}

.product-tab{
  background: #CCD5DF;
}
.nav-pills .nav-link.active{
  font-weight: bolder;
  border: 0;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #002F5F !important;
  background-color: #CCD5DF !important;
  color: #002F5F !important;
}

.nav-about{
  width: 400px;
}

.nav-about .nav-link.active{
  color: #EEAF30 !important;
}

.nav-news{
  background-color: #CCD5DF;
  height: 45px;
}

.nav-news .nav-link.active{
  color: #fff !important;
  background-color: #002F5F !important;
  height: 45px;
}
.achievement-container {
  display: flex;
  flex-wrap: wrap;
}
.achievement-header {
  align-self: flex-start;
  background-color: #002F5F !important;
  color: white;
  width: 40% !important;
  text-align: center;
  border-bottom-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
  padding: 5px !important;
}
.achievement-card{
  width: 40% !important;
  margin: 15px auto;  
  border-radius: 25px !important; 
  align-items: center;
}
.achievement-image {
  width: auto;
  height: 150px;
  margin: 20px;
}
.achievement-title{
  font-size: 16px !important;
  margin: 0px 15px;
}
.verticalLine {
  width: 4px;
  background-color: #cccccc; 
  height: 100%;
  min-height: 500px;
  float: left; 
  background-image: url('/static/images/image/line.svg');
  background-repeat: no-repeat;
  
}

.shareholder {
  font-family: "Brandon Grotesque" !important;
  font-size: 45px;
}

.text-brandon {
  font-family: "Brandon Grotesque" !important;
}

.title-shareholder{
  background-color: #8CA1B7 !important; 
  color: #fff;
  font-size: 25px;
  font-weight: 900;
}
.shareholder-card {
  height: 225px;
  width: 210px !important;
}

.display-linebreak {
  white-space: pre-line;
}
.companies {
    background-color: #fff;
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
}

.about-baf {
  width: 95% !important;
}
.pdf-fileName{
  position: absolute;
  font-size: 11px;
  color: #000;
  opacity: 50%;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  max-width: min-content;
}
.pdf-Container{
  position: relative;
  text-align: center;
  margin: 10px;
  flex: auto;
  max-width: fit-content;
}
.fileSize{
  color: #000;
  font-size: 8px;
  position: absolute;
  bottom: 0;
  left: 10%;
  opacity: 80%;
}
.card-width{
  width: 45% !important;
}
.expand-icon{
  float: right;
}
/* start organization chart */
.tree ul {
padding-top: 0px; position: relative;

transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}

.tree li {
float: left; text-align: center;
list-style-type: none;
position: relative;
padding: 0px 5px 0 5px;

transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
content: '';
position: absolute; top: 0; right: 50%;
border-top: 5px solid #ccc;
width: 50%; height: 20px;
}
.tree li::after{
right: auto; left: 50%;
border-left: 5px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
border-right: 5px solid #ccc;
border-radius: 0 5px 0 0;
-webkit-border-radius: 0 5px 0 0;
-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
border-radius: 5px 0 0 0;
-webkit-border-radius: 5px 0 0 0;
-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
content: '';
position: absolute; top: 0; left: 50%;
border-left: 5px solid #ccc;
width: 0; height: 20px;
}

.tree li a{
border: 5px solid #ccc;
padding: 5px 10px;
text-decoration: none;
color: #666;
font-size: 11px;
display: inline-block;

border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;

transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
}


/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
border-color:  #94a0b4;
}
/* end organization chart */


.super-bold{
  font-weight:900 !important;
}
.container-stackholder{
  width: 25%;
}
.w-10{
  width: 10%;
}
.w-45{
  width: 45% !important;
}
.w-90{
  width: 90%;
}
.w-auto{
  width: auto !important;
}
.h-88{
  height: 88% !important;
}
.h-100-vh{
  height: 100vh;
}

.dot-left {
  position: absolute !important;
  left: 0;
}

.dot-right {
  position: absolute !important;
  right: 0;
}

.horizontal-line{
  border: 10px solid #E7AD2F;
  margin-top: -5px
}

.main-navigation {
  border-bottom-style: solid;
  border-bottom-color: #E7AD2F;
  border-bottom-width: 10px;
}

.modal-header {
  background-color: #002F5F;
  color: white;
}
.modal-title {
  font-size: 30px !important;
  margin: auto;
}
.modal-box {
  padding-left: 100px !important;
  padding-right: 100px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  opacity: 0.8 !important;
  font-size: 16px;
}
.modal-textTitle {
  font-weight: bold;
  font-size: 20px;
}

.close {
  color: #fff !important; 
  opacity: 1 !important;
  position: absolute; 
  right: 1rem;
  size: 50px !important;
  font-size: 3rem !important;
  line-height: 0.5 !important;
  font-weight:lighter !important;
}

.pagination-news > .page-item.active > .page-link {
  background: #002F5F !important;
  color: white;
}

.page-item > .page-link {
  color: #002F5F;
}
.carousel-styling{
  overflow: hidden;
}
.search-bar{
  padding: 50px 90px 0 90px;
  display: flex;
  align-items: center;
}
.search-input{
  /* {backgroundColor:"#F2F4F8", border:"none", paddingTop:"0.5rem", paddingBottom:"0.5rem", paddingLeft:"2.5rem", borderRadius: "5px", width: '100%' */
    background-color: #F2F4F8;
    border: none;
    padding: 0.5rem 0 0.5rem 2.5rem;
    border-radius: 0.5rem;
    width: 100% !important;
}

.text-breadcumb {
  color: #B3B3B3;
  text-transform: capitalize;
  font-weight: bold;
}
.register-top{
  margin-top: 2rem !important;
}
.swal-text {
  text-align: center;
}

.bg-login {
  background-size: auto;
  background:url('/static/images/image/bg-login.svg');
  background-position: center;
}
.boards-image{
  width: 150px !important;
  height: 202px !important;
}
.half-right{
  overflow-y: scroll;
}
.secretary-card{
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
  margin-top: 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  background-color: #FBFBFB !important;
  border: none !important;
}
.secretary-subtitle{
  font-weight: 900 !important;
  font-size: 20px;
  color: #002F5F !important;

}
hr.line {
  border: 2px solid#000000;
  opacity: 20%;
}

.promo-info {
  width: 350px;
  float: right;
  margin: 10px 0 0 10px
}

/* desktop and higher */
@media (min-width: 1024px){
  .simul-title-l{
    width: 200px;
    float: right;
    border-radius: 10px !important;
  }

  .simul-title-r{
    width: 200px;
    border-radius: 10px !important;
  }

  .container-ca{
    width: 1050px;
    /* padding-left:35px !important; */
  }

  .txt-tagline{
    margin-top: -50px;
  }
  .ppArrowBottom{
    display: none;
  }
  .articles-container{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px !important;
  }
  .split{
    align-items: center !important;
  }

}


@media (min-width: 990px) and (max-width: 1199px){
  .borderb-y {
    border-bottom: 3px solid #002F5F;
    width: 30%;
  }

  .column-margin {
    margin: 30px 0;
  }

  .txt-tagline{
    color: #002F5F !important;
    font-weight: 900;
    font-size:40px;
  }

  .n-width{
    width: 75%;
  }

  .arrow-container{
   display: none;
  }

  .simul-title-l{
    border-radius: 10px !important;
  }

  .simul-title-r{
    border-radius: 10px !important;
  }

  .ppArrowBottom{
    display: none;
  }
  .block-card {
    width: 150px;
  }
  .block-card2 {
    width: 120px;
  }
  .news-card{
    width: 20rem !important;
  }
}

/* tablet */
@media (min-width: 464px) and (max-width: 990px){
  .achievement-card {
    width: 48% !important;
  }
  .investor-card {
    font-size: 12px !important;  
  }
  .borderb-y {
      border-bottom: 3px solid #002F5F;
      width: 100%;
  }

  .column-margin {
    margin: 30px 0;
  }

  .txt-tagline{
    color: #002F5F !important;
    font-weight: 900;
    font-size:25px;
  }

  .n-width{
    width: 100%;
  }

  .section-title{
    color: #EEAF30 !important;
    font-weight: 900 !important;
    font-size:25px;
    font-family: "Brandon Grotesque" !important;
  }

  .arrow-container{
    display: none;
  }

  .simul-title-l{
    border-radius: 10px !important;
  }

  .simul-title-r{
    border-radius: 10px !important;
  }

  .lob-item{
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .news-card{
    width: 22rem !important;
    
  }
  /* .rounded {
    border-radius: 1.5rem !important;
  } */
  .companies {
    width: 100%;
    height: auto;
  }
  .jumbotronProductPP {
    background-image: url('/static/images/image/section/product/prosesPengajuanTablet.png');
    background-size: 100% 100%;
    width: 100%;
    height: auto;
  }
  .ppArrow{
    display: none;
  }

  .about-baf {
    width: 95% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .verticalLine{
    display: none;
  }

  .container-stackholder{
    width: 100%;
  }
  .nav-productTabs {
    width: 200px;
    height: 40px;
    border: 0;
  }
  .modal-box {
    padding-left: 50px !important;
    padding-right: 50px !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
  .modal-title {
    font-size: 25px !important;
  }
  .close {
    font-size: 2rem !important;
    line-height: 1 !important;
  }
  .company-valuesText {
    font-size: 18px;
  }
  .company-valuesSubtext {
    font-size: 16px;
  }
 
  .split{
    position: fixed !important;
    align-items: center;
  }
  .login{
    background-color: white !important;
    padding: 1.5rem !important;
    border-radius: 15px !important;
    opacity: 98% !important;
    margin: 3rem 1rem !important;
    justify-content: center;
    align-items: center;
    display: table;
  }
  .txt-boards-desc {
    font-size: 16px;
  }
}

/* mobile */
@media (min-width: 0px) and (max-width: 464px){
  .borderb-y {
      border-bottom: 3px solid #002F5F;
      width: 100%;
  }

  .column-margin {
    margin: 30px 0;
  }

  .txt-tagline{
    color: #002F5F !important;
    font-weight: 900;
    font-size:25px;
  }

  .n-width{
    width: 100%;
  }

  .section-title{
    color: #EEAF30 !important;
    font-weight: 900 !important;
    font-size:25px;
    font-family: "Brandon Grotesque" !important;
  }

  .arrow-container{
    display: none;
  }

  .simul-title-l{
    border-radius: 10px !important;
  }

  .simul-title-r{
    border-radius: 10px !important;
  }

  .lob-item{
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .news-card{
    width: 18rem !important;
    
  }


  .simul-card{
    width: 15rem;
    height: 35rem;
    border-radius: 15px !important;
    background: #fff;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2)
  }
  
  .simul-card-mp{
    width: 15rem;
    height: 42rem;
    border-radius: 15px !important;
    background: #fff;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2)
  }
  .companies {
    width: 100%;
    height: auto;
  }
  .jumbotronProductPP {
    background-image: url('/static/images/image/section/product/prosesPengajuanMobile.png');
    background-size: 100% 100%;
    width: 100%;
    height: auto;
  }
  .ppArrow{
    display: none;
  }

  .about-baf {
    width: 95% !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .verticalLine{
    display: none;
  }

  .container-stackholder{
    width: 100%;
  }

  .tree li::before{
    border: none;
  }

  .tree li::after{
    border: none;
  }
  .nav-productTabs {
    width: 120px;
    height: 65px;
    border: 0;
  }
  .modal-box {
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 14px;
  }
  .modal-title {
    font-size: 18px !important;
    margin: 5px;
  }
  .close {
    font-size: 1.5rem !important;
    line-height: 1 !important;
  }
  .modal-textTitle {
    font-weight: bold;
    font-size: 20px;
  }
  .shareholder {
    font-family: "Brandon Grotesque" !important;
    font-size: 30px;
  }
  .shareholder-card {
    height: 225px;
    width: 200px;
  }
  .lob-img {
    width: 185px;
    height: auto;  
  }
  .search-bar{
    padding: 25px 30px 0 30px;
    display: flex;
    align-items: center;
  }
  .boards-image{
    width: 153px !important;
    height: 207px !important;
  }
  .txt-boards-name {
    font-size: 20px !important;
  }
  .txt-boards-title {
    font-size: 17px;
  }
  .txt-boards-desc {
    font-size: 15px;
  }
  .secretary-card{
    padding-left: 10px;
    padding-right: 10px;   
  }
  .investor-card {
    font-size: 12px !important;  
  }
  .card-width{
    width: 100% !important;
  }
  .boards-card{
    flex-direction: column !important;
  }
  .login{
    background-color: white !important;
    padding: 1.5rem !important;
    border-radius: 15px !important;
    opacity: 98% !important;
    margin: 3rem 1rem !important;
    justify-content: center;
    align-items: center;
    display: table;
  }
  .split{
    position: fixed !important;
  }
  .login-alignment{
    align-self: center;
  }
  .test-truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: inherit !important;
  }
  .halfWidth {
    width: unset !important;
  }
  .achievement-card {
    width: 100% !important;
  }
  .achievement-title {
    font-size: 14px !important;
  }

}


